<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subreddits</title>
</head>
    <body>
        <h1>subreddits</h1>

            {% if user.is_authenticated %}

            <p align="center">
            {{ user.username }} signed in <a href="{% url 'logout' %}">
                sign out</a>

            {% else %}
                <p align="center"><a href="{% url "login" %}">login</a></p>

            {% endif %}

            <p><a href="{% url "post_create" %}">new post</a> &nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'subreddit_create' %}">create subreddit</a>
            </p>
        {%  if subreddit_list %}
        <ol>
            {% for subreddit in subreddit_list %}
                <li>
                    <a href="{% url 'subreddit_detail' subreddit.id %}">
                    {{ subreddit.name }}
                    </a>
                    <p>{{ subreddit.description }}</p>
                    <p>post count: {{ subreddit.current_count }}</p>
                </li>


            {% endfor %}
        </ol>
        {% endif %}


    </body>
</html>