<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subreddit.name }}</title>
</head>
<body>
    <h1>{{ subreddit.name }}</h1>
    <ul>
        <li>description: {{ subreddit.description }}</li>
        <li>post count: {{ subreddit.current_count }}</li>
        <li>({{ subreddit.today_count }} today)</li>
    </ul>
    <h2>Top Posts</h2>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' post.id %}">
                {{ post.title }}</a>&nbsp;&nbsp;&nbsp;{{ post.created_at }}
            </li>
        {% endfor %}

    </ul>
    <a href="{% url 'subreddit_update' subreddit.id %}">edit subreddit</a>
<p><a href="{% url 'subreddit_list' %}"> return to subreddits</a></p>
</body>
</html>